<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Movie</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="movieForm"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control"
               formControlName="title"
               id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name">
        <div
          *ngIf="title.invalid && (title.dirty || title.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="title.errors?.['required']">Title is required.</div>
          <div *ngIf="title.errors?.['minlength']">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="title.errors?.['maxlength']">
            Name must be at most 10 characters long.
          </div>
        </div>

      </div>
      <div class="form-group">
        <label >Year</label>
        <input type="text" class="form-control"
               formControlName="year"
              aria-describedby="emailHelp" placeholder="Year">
        <div
          *ngIf="year.invalid && (year.dirty || year.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="year.errors?.['required']">Year is required.</div>

        </div>

      </div>
      <div class="form-group">
        <label >Director</label>
        <input type="text" class="form-control"
               formControlName="director"
               aria-describedby="emailHelp" placeholder="Director">
        <div
          *ngIf="director.invalid && (director.dirty || director.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="director.errors?.['required']">director is required.</div>

        </div>

      </div>
      <div class="form-group">
        <label >Details</label>
        <input type="text" class="form-control"
               formControlName="details"
               aria-describedby="emailHelp" placeholder="Details">
        <div
          *ngIf="details.invalid && (details.dirty || details.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="details.errors?.['required']">details is required.</div>

        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
            [disabled]="!movieForm.valid"
            (click)="saveMovie()">Save</button>
  </div>
</ng-template>
<div>
  <button type="button"
          class="btn btn-primary"
          (click)="open(content)">New Movie</button>
  <table class="table table-striped">
    <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Year</th>
      <th scope="col">Director</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <tr app-movie-ui *ngFor="let movie of movies"
          [movie]="movie">

      </tr>

    </tbody>
  </table>
</div>
