<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<main class="main">
  <div class="content">
    <nav>
      <ul>
        <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
        <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
      </ul>
    </nav>
    <!--  <app-hello-world/>-->
    <!--<app-list-demo/>-->
  <!--  <app-image-demo/>-->
    <!---->
    <!--<app-user [user]="user"
              message="hello world"
              data="3"
              (btnClick)="clickHandler($event)"/>
-->

    <!--<app-border>
      <div class="first" >
        Hello
        <h1>Hi</h1>
      </div>
      <div class="second" >

        <h1>Second</h1>
      </div>
    </app-border>-->
    <!--<app-host-demo>

    </app-host-demo>-->
    <!--<app-view-query-demo></app-view-query-demo>-->
   <!-- <app-tab-demo></app-tab-demo>-->
   <!-- <app-view-child-demo></app-view-child-demo>-->
   <!-- <app-profile-photo />-->
  <!--  <app-dynamic-render-demo/>-->
    <!--<app-view-container-demo/>-->
   <!-- <app-sizer [(size)]="fontSizePx"></app-sizer>
    <div [style.font-size.px]="fontSizePx">Resizable Text</div>-->
   <!-- <app-directive-demo/>-->
    <!--<app-track-by-demo/>-->
    <!--<app-todo-list-demo></app-todo-list-demo>-->
    <app-signal-demo/>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
