<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<main class="main">
  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/first-page" routerLinkActive="active" ariaCurrentWhenActive="page">First Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/second-page" routerLinkActive="active" ariaCurrentWhenActive="page">Second Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>

      </div>
    </nav>

    <!--  <app-hello-world/>-->
    <!--<app-list-demo/>-->
  <!--  <app-image-demo/>-->
    <!---->
    <!--<app-user [user]="user"
              message="hello world"
              data="3"
              (btnClick)="clickHandler($event)"/>
-->

    <!--<app-border>
      <div class="first" >
        Hello
        <h1>Hi</h1>
      </div>
      <div class="second" >

        <h1>Second</h1>
      </div>
    </app-border>-->
    <!--<app-host-demo>

    </app-host-demo>-->
    <!--<app-view-query-demo></app-view-query-demo>-->
   <!-- <app-tab-demo></app-tab-demo>-->
   <!-- <app-view-child-demo></app-view-child-demo>-->
   <!-- <app-profile-photo />-->
  <!--  <app-dynamic-render-demo/>-->
    <!--<app-view-container-demo/>-->
   <!-- <app-sizer [(size)]="fontSizePx"></app-sizer>
    <div [style.font-size.px]="fontSizePx">Resizable Text</div>-->
   <!-- <app-directive-demo/>-->
    <!--<app-track-by-demo/>-->
    <!--<app-todo-list-demo></app-todo-list-demo>-->
   <!-- <app-signal-demo/>-->
  <!--<app-dynamic-form/>-->
   <!-- <app-template-form/>-->
    <h1 i18n>  Localization Demo in Angular using i18n</h1>
    <h3 i18n="@@myName">  Hello, My name is Turing</h3>
    <p>This text will remain same in all languages</p><hr />
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet />


